* {
    font-family: Roboto;
}

body {
    margin: 0 ;
    
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 0.8rem;
}

a {
    text-decoration: none;
    color: black;
}


header {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img {
    border-radius: 50%;
    width: 300px;
    height: 300px;

  }

#apresentacao{
    padding: 0 150px;
    display: flex;
}

.links:not(:first-child) {
    gap: 20px;
    margin-left: 30px;
}

#txtSobre {
    max-width: 60%;
}



.sobre {
    background-color: #eaf2fd ;
    min-height: 200px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin-top: 50px;
}

#sectionSobre {
    padding: 0 150px;
    background-color: #eaf2fd;
}





.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  