/* Reset básico para remover estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SuaFontePreferida', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background: #fff;
    padding: 20px;
    text-align: center;
}

/* Sobre mim */
#sobre-mim {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
}

/* Habilidades */
#skills h2,
#hobbies h2,
#formacao h2,
#experiencia h2,
#projetos h2,
#contato h2 {
    background: #333;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
}

/* Formulário de contato */
#contato form {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
}

input[type='text'],
input[type='email'],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

button {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Rodapé */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
